body{
  height: 100vh;
  min-height: 300px;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 0;
  color: black;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
}


#content{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex: 1 1 auto;
  overflow: scroll;
}

.circle-exterior{
  border-radius: 50%;
  width: 200px;
  height: 200px;
  box-shadow: 5px 5px 5px gray;
}

.circle-interior{
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin: 10px;
  box-shadow: 5px 5px 5px gray;
}

.circle-pane{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.circle-p-wrapper {
  text-align: center;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#dividing-line{
  width: 10px;
  margin-right: 40px;
  margin-left: 40px;
  background-color: black;
}

#public-me{
  align-items: flex-end;
}

#private-me{
  align-items: flex-start;
}

#public-circle{
  background: url("img/public.jpg");
  background-size: 100%;
}

#private-circle{
  background: url("img/private.jpg");
  background-size: 100%;
}

.hidden {
  display: none;
}

.novis.circle-interior{
  box-shadow: none;
}

.info-pane {
  height: 100%;
  width: 100vh;
  position: absolute;
}

.circle-flex {
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#private-info {
  justify-content: flex-start;
}

#public-info {
  justify-content: flex-end;
}


#vvvvvv-image {
  background: url("img/viridian.png");
  background-size: 100%;
  width: 100%;
  height: 100%;
}

#vvvvvv-text {
  background: url("img/vtext.png");
  background-size: 100%;
  width: 100%;
  height: 100%;
}

#waterpolo-image {
  background: url("img/waterpolo.jpg");
  background-size: 100%;
  width: 100%;
  height: 100%;
}

#waterpolo-text {
  background: url("img/waterpolotext.png");
  background-size: 100%;
  width: 100%;
  height: 100%;
}

#dartmouth-image {
  background: url("img/bigd.png");
  background-size: 100%;
  width: 100%;
  height: 100%;
}

#dartmouth-text {
  background: url("img/bigdtext.png");
  background-size: 100%;
  width: 100%;
  height: 100%;
}

#gov-image {
  background: url("img/gov.jpg");
  background-size: cover;
  background-position: 50% 70%;
  width: 100%;
  height: 100%;
}

#gov-text {
  background: url("img/govtext.png");
  background-size: 100%;
  width: 100%;
  height: 100%;
}

#cs-image {
  background: url("img/cs.jpg");
  background-size: cover;
  background-position: 35% 50%;
  width: 100%;
  height: 100%;
}

#cs-text {
  background: url("img/cstext.png");
  background-size: 100%;
  width: 100%;
  height: 100%;
}

#sigep-image {
  background: url("img/sigep.jpg");
  background-size: cover;
  background-position: 35% 50%;
  width: 100%;
  height: 100%;
}

#sigep-text {
  background: url("img/sigeptext.png");
  background-size: 100%;
  width: 100%;
  height: 100%;
}

#sigepalt-image {
  background: url("img/sigepalt.png");
  background-size: cover;
  background-position: 50% 50%;
  width: 100%;
  height: 100%;
}

#sigepalt-text {
  background: url("img/sigepalttext.png");
  background-size: 100%;
  width: 100%;
  height: 100%;
}

#undertable-image {
  background: url("img/undertable.jpg");
  background-size: cover;
  background-position: 50% 50%;
  width: 100%;
  height: 100%;
}

#undertable-text {
  background: url("img/undertabletext.png");
  background-size: 100%;
  width: 100%;
  height: 100%;
}

#bonfire-image {
  background: url("img/bonfire.jpg");
  background-size: cover;
  background-position: 50% 50%;
  width: 100%;
  height: 100%;
}

#bonfire-text {
  background: url("img/bonfiretext.png");
  background-size: 100%;
  width: 100%;
  height: 100%;
}

#keybiscayne-image {
  background: url("img/keybiscayne.jpg");
  background-size: cover;
  background-position: 70% 50%;
  width: 100%;
  height: 100%;
}

#keybiscayne-text {
  background: url("img/keybiscaynetext.png");
  background-size: 100%;
  width: 100%;
  height: 100%;
}

#kid-image {
  background: url("img/kid.jpg");
  background-size: cover;
  background-position: 50% 50%;
  width: 100%;
  height: 100%;
}

#kid-text {
  background: url("img/kidtext.png");
  background-size: 100%;
  width: 100%;
  height: 100%;
}

#wallstreet-image {
  background: url("img/wallstreet.jpg");
  background-size: cover;
  background-position: 50% 50%;
  width: 100%;
  height: 100%;
}

#wallstreet-text {
  background: url("img/wallstreettext.png");
  background-size: 100%;
  width: 100%;
  height: 100%;
}
